@page "/"
@using BlazorApps.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new Fluent Blazor app.</p>

<MarkdownSection
    FromAsset="./docs/Home.md" />